/* You can add global styles to this file, and also import other style files */
* { margin: 0; padding: 0; box-sizing: border-box; }

@font-face {
  font-family: pacifico;
  src: url(assets/fonts/Pacifico-Regular.ttf);
}

body {
  font: 16px pacifico, Helvetica, Arial;
  background-color: rgb(187, 235, 251);
}
